

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .personContainer{
        width: 60%;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }

    .red{
        background-color: #990000;
        background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    }

    .orange{
        background: linear-gradient(to right, #ff6f00 0%, #f5a700 74%);
    }

    .green{
        background: linear-gradient(to right, #0dce14 0%, #73ff61 74%);
    }

    .dead{
        background: gray !important;
    }
}

